<div class="progress_wrap">
	<ion-grid><ion-row><ion-col col-auto>
	<span>PROGRES</span>
	</ion-col>
	<ion-col>
	<div class="progress-outer" padding>
    	<div class="progress-inner" [style.width]="progress + '%'"></div>
	</div> 
	</ion-col>
	<ion-col col-auto>
	<span>{{progress}}%</span>
	</ion-col></ion-row></ion-grid>
</div>
