progress-bar {
 	
 	.progress_wrap{
 		padding:2px 0 2px;
		background-color:#999999;
	 	.progress-outer {
	        width: 100;
	        padding: 0;
	        text-align: center;
	        background:#aaaaaa;
	        border-radius: 4px;
			border-color:white;
	    }
	 
	    .progress-inner {
	        white-space: nowrap;
	        overflow: hidden;
	        padding: 4px;
	        border-radius: 4px;
	        background-color:white; //map-get($colors, primary);
	        position:relative;
			margin-top:5px;
	    }
	    span{
	    	font-size: 1.2rem;
		    font-weight: 400;
		    color:#ffffff; //rgba(0,0,0,0.6);
	        margin-top: 4px;
    		display: block;
	    }
 	}
    
}