<ion-tabs color="white" *ngIf="config.isLoggedIn" [selectedIndex]="myIndex">
  <ion-tab [root]="home" tabIcon="md-home"></ion-tab>
  <ion-tab [root]="directoryPage" tabIcon="md-list"></ion-tab> 
  <ion-tab [root]="profileTab" tabIcon="md-contact" [rootParams]="userdata"></ion-tab>
</ion-tabs>
<ion-tabs color="white" *ngIf="!config.isLoggedIn" [selectedIndex]="myIndex">
    <ion-tab [root]="home" tabIcon="md-home"></ion-tab>
    <ion-tab [root]="directoryPage" tabIcon="md-list"></ion-tab>
  	<ion-tab [root]="profileTab" tabIcon="md-contact"></ion-tab>
</ion-tabs>