page-order {
	h3{text-align:center;}
	ion-header{
		
	}
	
	ion-content{
		
		ion-item{
			
		}
		
	}
	#order_title{
		text-align:center;
		font-size:2rem;
		font-style:bold;
		padding-top:2rem;
		width:100%;
		color:white;
		background-color:#33cc33;
		vertical-align:center;
		height:6rem;		
	}
	#logo_pay{
		padding:1rem;
		text-align:center;
		margin:1rem;
	}
	#title_pay{
		text-align:center;
		color:#aaaaaa;
	}
	#description_pay{
		padding-top:1rem;
		text-align:center;
		color:#aaaaaa;
		font-size:1.4rem;
		padding-left:1.5rem;
		padding-right:1.5rem;
	}
	#limit_pay{
		padding:1rem;
		text-align:center;
	}
	#timer_pay{
		text-align:center;
		padding-bottom:2rem;
		font-size:2rem;
	}
	#table_pay{
		padding-left:1rem;
		padding-right:0.5rem;
		padding-bottom:1rem;
	}
	.element_pay{
		margin-top:0.25rem;
		margin-bottom:0.25rem;
		padding-top:0.25rem;
		padding-bottom:0.25rem;
	}
	.important_pay{
		background-color:#cccccc;
		margin-top:0.25rem;
		margin-bottom:0.25rem;
		padding-top:0.25rem;
		padding-bottom:0.25rem;
		padding-left:0.5rem;
		padding-right:0.5rem;
	}
	
	.small_text{
		font-size:1rem;
		font-style:italic;
	}
	.text_timer{
		font-size:1rem;		
	}
	.padding{
		padding-left:1.5rem;
		padding-right:1rem;
	}
	.last_text{
		padding-bottom:2rem;
	}
	#checkout_order{
		margin:1rem;
		font-size:1.6rem;
	}
	#detail_pay{
		padding-left:1.5rem;
	}

	#checkout_user{
		margin-top:1rem;
		margin-right:1rem;
		ion-item {
			padding-right:1rem;
		}
	}
	
	#back_to_home{    
    	font-size: 2rem;
		height:6rem;
    }
	
}

