<ion-content>
	<div id="order_title">PEMBAYARAN</div>
	<div id="checkout_order">
		<div id="logo_pay">
		<img src="assets/images/icon payment arkademi app.png" height="150px" width="150px">
		</div>
		<div id="title_pay">
		MENUNGGU PEMBAYARAN
		</div>
		<div id="description_pay">
		Pesanan anda telah kami terima.
		Silahkan melakukan pembayaran ke rekening di bawah ini.
		Tidak diperlukan konfirmasi pembayaran.
		Kelas terbuka otomatis setelah 2-15 menit setelah anda melakukan pembayaran.
		</div>
		<div id="limit_pay">
		Batas waktu pembayaran 24 jam
		</div>
		<div id="timer_pay">
		<strong>{{hours}}</strong><span class="text_timer"> jam </span>:<strong>{{minutes}}</strong><span class="text_timer"> menit </span>:<strong>{{seconds}}</strong><span class="text_timer"> detik</span>
		</div>
		<div id="table_pay">
		<ion-grid no-padding> <!-- kolom kedua punya background semua -->
		<ion-row><ion-col col-5>
		<div class="element_pay">Nomor Rekening</div>
		</ion-col><ion-col col-7>
		<div class="important_pay"><strong>101-00-8000-8251</strong></div>
		</ion-col></ion-row>
		<ion-row><ion-col col-5>
		<div class="element_pay">Bank</div>
		</ion-col><ion-col col-7>
		<div class="important_pay">Mandiri</div>
		</ion-col></ion-row>
		<ion-row><ion-col col-5>
		<div class="element_pay">Atas Nama</div>
		</ion-col><ion-col col-7>
		<div class="important_pay">Arkademi Daya Indonesia</div>
		</ion-col></ion-row>
		<ion-row><ion-col col-5>
		<div class="element_pay">Jumlah Pembayaran</div>
		</ion-col><ion-col col-7>
		<div class="important_pay"><strong>{{order?.total|currency:"Rp.":true:"1.0"}}</strong></div>
		</ion-col></ion-row>
		<ion-row><ion-col col-5>
		<!-- kosong -->
		</ion-col><ion-col col-7>
		<div class="small_text">
		* Mohon melakukan pembayaran sesuai nominal hingga digit terakhir (angka unik)
		</div>
		</ion-col></ion-row>
		</ion-grid>
		</div>
	</div>
	<div id="detail_pay">
		RINCIAN PEMESANAN
		</div>
	<div id="checkout_user">
		<div class="padding">No. Order : {{order?.id}}</div>
		<ion-list no-padding no-margin>
			<ion-item>
				<ion-label stacked><strong>Kelas</strong></ion-label>
				<ion-label>{{order?.line_items[0].name}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label stacked><strong>Nama</strong></ion-label>
				<ion-label>{{order?.billing.first_name}} {{order?.billing.last_name}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label stacked><strong>Email</strong></ion-label>
				<ion-label>{{order?.billing.email}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label stacked><strong>Nomor HP/WhatsApp</strong></ion-label>
				<ion-label>{{order?.billing.phone}}</ion-label>
			</ion-item>
		</ion-list>
	</div>
	<div class="small_text padding last_text">
	* Silakan cek email anda untuk mendapatkan instruksi pembayaran lebih lengkap. Bila setelah 1 jam setelah pembayaran kelas yang anda bayarkan belum terbuka, hubungi billing@arkademi.com
	</div>
	<ion-buttons no-padding no-margin>
		<button id="back_to_home" class="hide-on-keyboard-open" color="orange" no-margin ion-button full (click)="backToHome()">KEMBALI KE DEPAN</button>
	</ion-buttons>	
	
</ion-content>
