page-quiz {
	h3{text-align:center;}
	ion-header{
		
	}
	
	ion-content{
		
		ion-item{
			
		}
		
	}

#title{
		text-align:left;
		font-size:2rem;
		font-style:bold;
		padding-top:2rem;
		padding-left:2rem;
		width:100%;
		color:white;
		background-color:#ede8d5;
		vertical-align:center;
		height:6rem;
		font-weight:bold;
	}
}