
<ion-content>
<div id="title"> <span (click)="back()"> &#10229; </span> &nbsp; &nbsp; &nbsp; QUIZ </div>
<iframe id="typeform-full" width="100%" height="90%" frameborder="0" src="https://learnlab.typeform.com/to/jnd3BG"></iframe> 
</ion-content>