<ion-content>

<div id="title"> <span (click)="back()"> &#10229; </span> &nbsp; &nbsp; &nbsp; Reset Password </div>

<div padding>
	<ion-input type="text" placeholder="Masukan Email Anda Yang Aktif" [(ngModel)]="email"></ion-input>
 </div>


<div padding>
		<button ion-button outline block (click)="sendEmail()">Send Email </button>
 </div>

</ion-content>

