<ion-split-pane when="md">
	<ion-menu id="mainmenu" [content]="nav" *ngIf=pages.length>
		<ion-content>
			<div id="logo">
				<img src="assets/images/main_logo.png" />
			</div>
			<ion-list>
				<button ion-item *ngFor="let p of pages" (click)="onLoad(p)">
					<div class="menuitem">
						<strong [innerHtml]="p.title"></strong>
						
					</div>
				</button>
				
				<!-- <button ion-item onclick="window.open('https://learnlab.typeform.com/to/cLK6AN', '_self', 'footer=yes','useWideViewPort=yes');"> -->
					<!-- <div class="menuitem"> -->
						<!-- <strong> Open Quiz </strong> -->
						
					<!-- </div> -->
				<!-- </button> -->
				
				
			</ion-list>
		</ion-content>
	</ion-menu>

<ion-nav [root]="tabsPage" #nav swipe-back-enabled="false" main></ion-nav>
</ion-split-pane>