coursecard2 {
	
	position:relative;
	display:inline-block;
	//width:100%;
	//height:auto;

	.featured_course_block{
		.featured_course_image{
			max-height:200px;
			overflow:hidden;
			
		}
	}
	.course_student{
		margin-top:0;padding-top:0;
		padding-left:0;
		padding-right:12px;
		//color:#6699ff;
		font-size:1.8rem;
		position: absolute;
		text-align:left;
		//left: 12px;
		bottom: -16px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		width:100%;
	}
}
