<ion-card class="featured_course_block" [navPush]="postPage" [navParams]="blog">
	<div class="featured_course_image">    
		<lazy-img [inputSrc]="blog.featured_image"></lazy-img>
	</div>
	<div class="course_student">{{blog.title}}</div>
</ion-card>
