<!--
<ion-header>
    <ion-navbar>
		<div id="class_title">KELAS</div>
    </ion-navbar>
</ion-header>
-->
<ion-content>
	<div id="checkout_title">CHECKOUT</div>
	<div id="checkout_content">
	<div id="order_title">KELAS YANG ANDA BELI</div>
	<div id="checkout_order">
		<ion-grid><ion-row>
		<ion-col col-6>
		<img [src]="product?.images[0].src">
		
		</ion-col>
		<ion-col col-6>
		<div id="product_name">
			{{product?.name}}
		</div>
		</ion-col>
		</ion-row></ion-grid>
		<div class="product_display"><span>Harga:</span><span class="price_calculation">{{product?.price | currency: "Rp.":true:"1.0" }}</span></div>
		<div class="thin-divider"></div>
		<div class="product_display"><span>Diskon:</span><span class="price_calculation">{{random_number | currency: "Rp.":true:"1.0" }}</span></div>
		<ion-row no-padding no-margin><ion-col col-5>
			<div id="coupon_text">PUNYA KUPON?
			<span>Masukkan kode kupon</span></div>
		</ion-col><ion-col col-7>
			<div id="coupon_button">
			<input *ngIf="!useCoupon" [(ngModel)]="usercoupon">
			<input *ngIf="useCoupon" disabled [(ngModel)]="usercoupon">
			<span *ngIf="!useCoupon"><button id="coupon_on" ion-button no-padding no-margin clear icon-only (click)="checkCoupon(usercoupon)"><ion-icon  no-padding no-margin name="md-checkbox-outline"></ion-icon></button></span>
			<span *ngIf="useCoupon"><button id="coupon_off" ion-button no-padding no-margin clear icon-only (click)="removeCoupon()"><ion-icon no-padding no-margin name="md-checkbox-outline"></ion-icon></button></span>
			</div>
		</ion-col></ion-row>
		<div class="thin-divider"></div>
		<div class="product_display"><span>Diskon Kupon:</span><span class="price_calculation">{{couponDisc | currency: "Rp.":true:"1.0" }}</span></div>
		</div>	
	<div id="order_title">TOTAL HARGA/TAGIHAN</div>
	<div id="price_total">{{getTotalPrice() | currency: "Rp.":true:"1.0" }}</div>
	<div id="checkout_user">
		<ion-list>
			<ion-item>
				<ion-label stacked>Nama depan</ion-label>
				<ion-input [(ngModel)]="userfirst" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Nama belakang</ion-label>
				<ion-input [(ngModel)]="userlast" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Alamat email</ion-label>
				<ion-input [(ngModel)]="useremail" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Nomor HP/WhatsApp</ion-label>
				<ion-input [(ngModel)]="userphone" type="tel"></ion-input>
			</ion-item>
			<ion-item></ion-item>
		</ion-list>
	</div>
	<div id="order_title">METODE PEMBAYARAN</div>
	<div id="mandiri">
		<ion-row><ion-col col-3>
		<img src="assets/images/Logo Bank Mandiri.png">
		</ion-col><ion-col>
		<div id="mandiri_transfer_text"><strong>Transfer ke Rekening Bank Mandiri</strong></div>
		<div id="small_text">
		* Pembayaran dilakukan melalui transfer bank. Verifikasi otomatis tanpa perlu konfirmasi pembayaran. Kelas anda akan otomatis terbuka setelah pembayaran.
		</div>
		</ion-col></ion-row>
	</div>
	</div>
	<ion-buttons no-padding no-margin>
		<button id="pay_me" class="hide-on-keyboard-open" color="orange" no-margin ion-button full (click)="orderItem()">BAYAR SEKARANG</button>
		<!--<button id="pay_me" class="hide-on-keyboard-open" color="orange" no-margin ion-button full (click)="testOrderItem()">TEST BAYAR</button>-->
	</ion-buttons>
</ion-content>
<!--
<ion-footer no-padding no-margin>
	<ion-buttons no-padding no-margin>
		<button id="pay_me" class="hide-on-keyboard-open" color="orange" no-margin ion-button full (click)="orderItem('Transfer')">BAYAR SEKARANG</button>
	</ion-buttons>
</ion-footer>
-->

