<ion-card class="featured_course_block" [navPush]="coursePage" [navParams]="course">
	<div class="featured_course_image">    
	    <lazy-img [inputSrc]="course.featured_image"></lazy-img>
	</div>
	<ion-card-content no-padding no-margin class="align-left">
	<ion-list no-padding no-margin><ion-item-divider>
		<ion-card-title no-padding no-margin>
	        {{course.name}}
	    </ion-card-title>
		<div class="course_instructor">
		{{course.instructor?.name}}
		</div>
		<div class="course_student">
		<i class="fa fa-users" aria-hidden="true"></i> {{course.total_students}}
		<span id="star_rating"><star-rating [rating]=course.average_rating></star-rating></span>
		</div>

	</ion-item-divider><ion-item>
	    <div class="course_price" *ngIf="course.price_html && !config.isString(course.price_html) && course.price_html.length >1">{{config.get_translation('pricing_options')}}</div>
	    <!--
		<div class="course_price" *ngIf="course.price_html && !config.isString(course.price_html) && course.price_html.length == 1" [innerHtml]="course.price_html[0].html"></div>
		-->
	    <div class="course_price" *ngIf="course.price_html && !config.isString(course.price_html) && course.price_html.length == 1">
			<p>
			<span style="font-size:1.6rem;color:#cc3300;" [innerHtml]="getSlashedPrice()"></span>
			<span style="font-size:2rem;font-style:bold" [innerHtml]="getPrice()"></span>
			</p>
		</div>
        <div class="course_price" *ngIf="course.price_html && config.isString(course.price_html)" [innerHtml]=course.price_html></div>
		</ion-item></ion-list>
	</ion-card-content>
</ion-card>
<div class="wishlist {{active}}" (click)="addToWishlist()"></div>
